#colors() {
    backgroundColor: #eee;
    headerColor: #399ade;
    txtColor: #fff;
    btnColorAdd: #48d05f;
    btnColorAddHover: #32a345;
    menuColor: #a9dcff;
    asideColor: #9ccbe6;
    windowColor: rgba(255, 255, 255, 0.5);
    pizzaItemColor: #388bc5;
    pizzaItemColorHover: #244c88;
}