// Breakpoints
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(max-width: 768px) and (max-width: 1023px)";

// Fontes
@fontePrincipal: 'Lato', Helvetica, Arial, sans-serif;
@fonteSecundaria: 'Hepta Slab', serif;